* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
 font-family: "Courier New", Courier, monospace;
 max-width: 700px;
 margin: auto;
 background-color: #EEE1EF;
 font-size: 14px;
}
.content-background-color{
  background-color: white;
  padding: 10px;
}
.topbanner{
  background-image: url("bannerimg.jpg");
  height: 300px;
  width: 700px;
}
h2{
  size: 30px;
}
.fontArvo{
  font-family: "Arvo";
}
.fontawesome{
  justify-content: center;
  padding: 30px;
}
h3, h4{
  size: 16px;
  color: #A296A2;
}
.list{
  list-style-type: none;
}
.display-inline{
  display: inline;
}
.display-block{
  display: block;
}
.font-center{
  text-align: center;
}
a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #343434;
  padding: 0 30px;
}
.font-white-small{
  color: white;
  font-size: 10px;
  font-family: 'Cutive Mono', monospace;
}
.font-white-large {
  color: white;
  font-size: 60px;
  padding-top: 70px;
  text-shadow: 2px 2px #343434;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex-just-start{
  justify-content: flex-start;
}
.flex-just-end{
  justify-content: end;
  text-align: right;
}
.flex-just-center{
  justify-content: center;
  padding: 0 40px;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.boxpadding{
  padding: 15px 15px;
}
.boxwidth{
  width: 50%;
}
img{
  border-radius: 100%;
  width: 180px;
  height: 180px;
  margin: auto;
}
.barsplit{
  border-radius: 5px;
  background-color: #2F1F1F;
  padding: 5px 20px;
}
